@tailwind base;
@tailwind components;
@tailwind utilities;

.cardcontainer{
    @apply flex flex-col p-8 min-w-[256px] max-w-[360px] max-h-[303px] backdrop-blur-sm bg-gradient-to-b from-[#ececec] to-transparent rounded-xl bg-opacity-20
}

.modal_h2{
    @apply font-montserrat font-semibold pt-9 pb-6
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}